* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header, .Section-2{
    background-color: #1F2937;
}

.header,
.Section-2, 
.Section-2-Container, 
.info-section,
.cta-section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lion-logo {
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #E5E7EB;
}

@media (max-width: 600px) {
    .header, .info-section, .group, .cta-container {
        flex-direction: column;
        gap: 15px;              
        text-align: center;
    }

.set {
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
        width: 100%;
    }
    
    ul {
        justify-content: center; 
        padding: 0;
    }
}

.main-text {
    max-width: 20ch;
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 900;
}

.lion-define {
    color: #E5E7EB;
    font-size: 1.125rem;
}

.lion-subtext {
    color: #E5E7Eb;
    font-style: italic;
    font-size: 0.9rem;
    padding-bottom: 8px;
}

.button-container {
    padding-top: 0.5em;
}

.secure-button {
    padding: 0.5em;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.image-container img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border: 2px solid white;
    border-radius: 0.5em;
    object-fit: cover;
}

.group {
    display: flex;
    justify-content: space-evenly;
}
.set {
    flex-direction: column;
}

img {
    border: 3.5px solid #3882F6;
    border-radius: 10px;
    width: 100%;
    max-width: 150px;
    height: 150px;
}

.info-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25em;
    color: #1F2937;
    font-weight: 900;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
.description {
    max-width: 150px;
    padding: 0.5em 0;
    margin-top: 15px;
    text-align: center;
    color: #1F2937;
    font-size: 1em;
}

.quote-section {
    background-color: #E5E7EB;
    width: 100%;
    padding: 3em;
}

.quote, .said-by {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.quote {
    font-size: 2.25em;
    color: #1F2937;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5em;
}

.said-by {
    font-size: 1.5em;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
}

.cta-section {
    padding: 5em 0;
}

.cta-container {
    border-radius: 0.5em;
    background-color: #3882F6;
    width: 100%;
    padding: 2em 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-main, .cta-subtext {
    color: #F9FaF8;
    padding-bottom: 0.25em;
}

.cta-main {
    font-weight: 900;
    font-size: 1.125rem;
}

.secure-button {
    padding: 0.5em;
    border: 3px solid #E5E7EB;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    display: inline-block;
}

footer {
    background-color: #1F2937;
    width: 100%;
    padding: 1.5em;
}

.footnote {
    font-size: 1rem;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}