* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header, .Section-2{
    background-color: #1F2937;
}

.Section-2, 
.Section-2-Container, 
.info-section,
.cta-section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

.Section-2-Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-logo {
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #E5E7EB;
}

@media (max-width: 600px) {
    .header, .info-section, .group, .cta-container {
        flex-direction: column;
        gap: 15px;              
        text-align: center;
    }

.set {
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
        width: 100%;
    }
    
    ul {
        justify-content: center; 
        padding: 0;
    }
}

.main-text {
    max-width: 20ch;
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 900;
}

.lion-define {
    color: #E5E7EB;
    font-size: 1.125rem;
}

.lion-subtext {
    color: #E5E7Eb;
    font-style: italic;
    font-size: 0.9rem;
    padding-bottom: 8px;
}

.button-container {
    padding-top: 0.5em;
}