* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header, .Section-2{
    background-color: #1F2937;
}

.header, 
.section-2-content, 
.info-section,
.cta-section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 2.5em;
}